@import './theme/theme.scss';
@import './public-class.scss';
html,body {
    height: 100%;
    font-size: 12px;
    //字体抗锯齿,使用后字体看起来会更清晰舒服
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    //当绘制文本时，浏览器会侧重文本的可读性（清晰度），而不是渲染速度和几何 精度。该属性值可以用于字距调整和连字。
    text-rendering: optimizeLegibility;
    font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
//侧边的菜单
.el-menu{
    border-right:none !important;
    background: rgba(66, 72, 91, 0.5) !important;
    .el-submenu{
        .el-submenu__title{
            // padding-left: 40px !important;
            .el-icon-menu{
                color:#ffffff;
            }
            span{
                color:#ffffff;
            }
        }
        //解决二级菜单左侧多出部分
        .el-menu-item{
            min-width:0px;
            padding-left: 45px !important;
        }
        //二级菜单悬停背景
        .el-menu-item:hover{
            background-color:#f36c28;
        }
        .el-submenu__title:hover{
            background: rgba(66, 72, 91, 0.5);
        }
        .is-active{
            background: #f36c28;
        }
    }
    
    .el-menu-item-group__title{
        display: none;
    }
    a{
        color:#ffffff;
    }
    //二级菜单折叠时的背景
    .el-menu-item:focus,.el-menu-item:hover{
        background-color:#f36c28;
    }
}
//顶部的菜单
.el-tag{
    background: #ecf5ff;
    border-color: #d9ecff;
    
}
//顶部的右侧的下拉选项
.el-dropdown-link {
    cursor: pointer;
    color: #ffffff;
}
.el-icon-arrow-down {
    font-size: 12px;
}
//输入框宽度和高度
.el-input{
    width: 270px !important;
}
.el-input--small .el-input__inner{
    height: 36px !important;
    line-height: 36px !important;
    // border: 1px solid #f36c28;//修改边框颜色
}
//这种可以改变颜色，但是默认的蓝色还是有
// .el-input:focus-within{
//     border:1px solid #f36c28;
//     border-radius: 5px;
// }
//改变获取焦点的input边框颜色
.el-input__inner:focus{
    border-color: $input_bor !important;
}
//按钮的样式
.el-button--primary{
    background:$btn_bg !important;
    border-color:$btn_bg !important;
}
//复选框选中的样式
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: $checkBox_bg !important;
    border-color: $checkBox_bg !important;
}
//取消勾选的边框颜色
.el-checkbox__input.is-focus .el-checkbox__inner{
    border-color:#DCDFE6 !important;
}
//鼠标悬停复选框的颜色
.el-checkbox__inner:hover{
    border-color: $checkBox_bg !important; ;
}
//复选框右边文字样式
.el-checkbox__input.is-checked+.el-checkbox__label{
    color:$check_txt !important;
}
//dropdown拉下菜单的样式
.el-dropdown-menu__item:not(.is-disabled):hover{
    background-color:#f36c28 !important;
    color:#ffffff !important;
}
//element-ui中滚动条样式,外层的块级元素必须设置高，并且不能是el-card的直接子元素
// .el-scrollbar{
//     height: 100%;
// }
// .el-scrollbar__wrap {  // 必要的
//     overflow: scroll; 
//     width: 110%;  //隐藏侧边默认滚动条 （达不到效果可以自己试着微调） 如解决不了可尝试用 `margin-right -60px`
//     height: 110% !important;  //隐藏底部滚动条  （100%如果达不到效果可以试着用110%）   
// }
//月份选择器样式
//文本框样式
.el-range-editor.is-active, .el-range-editor.is-active:hover{
    border-color:#f36c28 !important;
}
.el-month-table td .cell:hover{
    color:#f36c28 !important;
}
.el-month-table .today .cell {
    color:#f36c28 !important;
}

.el-month-table .end-date .cell, .el-month-table .start-date .cell {
    background-color: #f36c28 !important;
    color:#ffffff !important;
}
.el-month-table .start-date .cell:hover {
    color:#ffffff !important;
}
.el-month-table .end-date .cell:hover{
    color:#ffffff !important;
}
//日期选择期样式
.el-date-table td.today span{
    color:#f36c28 !important;
}
.el-date-table .available:hover{
    color:#f36c28 !important;
}
.el-date-table td.start-date span,.el-date-table td.end-date span{
    background-color: #f36c28 !important;
    color:#ffffff !important;
}
// .el-date-table td.today span, .el-date-table td.today span{
//     color:#ffffff !important;
// }
.el-button--text{
    color:#f36c28 !important;
}
//表头
.el-table thead{
    color:#484F62 !important;
}
//分页的样式
.el-pager li.active,.el-pager li:hover {
    color:#f36c28 !important;
}
//弹框样式
.el-dialog{
    .el-dialog__header{
        background-color: #f36c28;
        padding:15px 8px 10px;
        .el-dialog__title{
            color:#ffffff;
        }
        .el-dialog__headerbtn .el-dialog__close{
            color:#ffffff;
        }
       
    }
    .el-dialog__footer{
        .el-button:focus, .el-button:hover{
            color:#ffffff;
            background-color:#f36c28;
            border-color: #f36c28 !important;
        }
    }
}
