//此文件用于进行样式覆盖
.wrap_container{
  .el-scrollbar{
    height: 100%;
    .el-collapse{
      width: 93% !important;
    }
  }
  .el-scrollbar__wrap {  // 必要的
      overflow: scroll; 
      width: 110%;  //隐藏侧边默认滚动条 （达不到效果可以自己试着微调） 如解决不了可尝试用 `margin-right -60px`
      height: 110% !important;  //隐藏底部滚动条  （100%如果达不到效果可以试着用110%）   
  }
}